.primary-red {
  color: #e22147; }

.bg-primary-red {
  background-color: #e22147; }

.primary-silver {
  color: #a0a3a8; }

.bg-primary-silver {
  background-color: #a0a3a8; }

.primary-black {
  color: #282c36; }

.bg-primary-black {
  background-color: #282c36; }

.caption {
  font-size: 12px; }

.caption1 {
  font-size: 10px; }

.light-font {
  font-size: 13px; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: 600; }

.p-0 {
  padding: 0px; }

.pt-8 {
  padding-top: 8px; }

.pt-12 {
  padding-top: 12px; }

.pb-12 {
  padding-bottom: 12px; }

.cursor-p {
  cursor: pointer; }

.height-60 {
  height: 60px; }

.border-bottom {
  border-bottom: 1px solid rgba(102, 102, 102, 0.4); }

.border-left {
  border-left: 1px solid rgba(102, 102, 102, 0.4); }

a {
  text-decoration: none !important; }

body {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-size: 400 !important;
  background-color: black;
  /*top header css*/
  /*responsive Two column resizable*/ }
  body #header-wrapper {
    line-height: 60px;
    background-color: #fff; }
    body #header-wrapper .logo-wrapper {
      height: 61px;
      width: 220px;
      position: fixed;
      display: block;
      z-index: 9; }
    body #header-wrapper .logoname {
      font-size: 24px; }
    body #header-wrapper .toggle-leftnav {
      font-size: 24px;
      line-height: 60px; }
    body #header-wrapper .header-right-list-wrapper .each-list {
      padding: 0px 15px;
      float: right; }
      body #header-wrapper .header-right-list-wrapper .each-list .connect-icon {
        font-size: 24px; }
        body #header-wrapper .header-right-list-wrapper .each-list .connect-icon i:hover {
          color: black; }
      body #header-wrapper .header-right-list-wrapper .each-list.user-profile-wrapper img {
        height: 32px;
        width: 32px;
        margin-right: 10px; }
      body #header-wrapper .header-right-list-wrapper .each-list.user-profile-wrapper .caret {
        margin-left: 10px; }
      body #header-wrapper .header-right-list-wrapper .each-list.user-profile-wrapper .dropdown-menu {
        min-width: 100%;
        border: none;
        margin-top: 2px;
        padding: 6px 0px; }
        body #header-wrapper .header-right-list-wrapper .each-list.user-profile-wrapper .dropdown-menu li {
          height: auto !important;
          padding: 0px;
          width: 100%;
          border-left: none; }
          body #header-wrapper .header-right-list-wrapper .each-list.user-profile-wrapper .dropdown-menu li a {
            padding: 6px 12px; }
      body #header-wrapper .header-right-list-wrapper .each-list.credit-wrapper {
        line-height: 14px;
        padding-top: 8px; }
    body #header-wrapper .header-right-list-wrapper .line-height-60 {
      line-height: 60px; }
  body #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*left navigation*/
    /*Two column resizable*/ }
    body #wrapper .sidebar-nav {
      position: absolute;
      top: 0;
      width: 220px;
      margin: 0;
      padding: 0;
      list-style: none; }
      body #wrapper .sidebar-nav::-webkit-scrollbar {
        display: none; }
    body #wrapper #sidebar-wrapper {
      z-index: 1000;
      left: 220px;
      width: 0;
      height: calc(100vh - 49pX);
      margin-top: 49px;
      margin-left: -220px;
      overflow-y: auto;
      overflow-x: hidden;
      background: #282c36;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      body #wrapper #sidebar-wrapper::-webkit-scrollbar {
        display: none; }
      body #wrapper #sidebar-wrapper ul li a {
        text-decoration: none !important;
        display: block;
        padding: 12px 15px;
        line-height: initial;
        color: #a0a3a8; }
        body #wrapper #sidebar-wrapper ul li a i {
          padding-right: 6px;
          font-size: 16px; }
        body #wrapper #sidebar-wrapper ul li a:hover {
          background-color: #a0a3a8;
          color: #282c36; }
        body #wrapper #sidebar-wrapper ul li a:focus {
          background-color: none; }
      body #wrapper #sidebar-wrapper ul li ul.sub-menu {
        margin: 0px;
        padding: 0px; }
        body #wrapper #sidebar-wrapper ul li ul.sub-menu li {
          line-height: initial; }
          body #wrapper #sidebar-wrapper ul li ul.sub-menu li a {
            text-decoration: none !important;
            display: block;
            padding: 8px 15px;
            padding-left: 37px !important;
            color: #a0a3a8; }
            body #wrapper #sidebar-wrapper ul li ul.sub-menu li a i {
              padding-right: 6px;
              font-size: 16px; }
            body #wrapper #sidebar-wrapper ul li ul.sub-menu li a:hover {
              background-color: #a0a3a8;
              color: #282c36; }
    body #wrapper #page-content-wrapper {
      width: 100%; }
      body #wrapper #page-content-wrapper #two-column-container {
        position: relative;
        height: 100px;
        background-color: black; }
        body #wrapper #page-content-wrapper #two-column-container #leftsplit-section, body #wrapper #page-content-wrapper #two-column-container #rightsplit-section, body #wrapper #page-content-wrapper #two-column-container #splitter {
          position: absolute;
          top: 0;
          height: calc(100vh - 61px); }
        body #wrapper #page-content-wrapper #two-column-container #leftsplit-section {
          left: 0;
          width: 39%;
          overflow: hidden;
          background-color: #fff; }
          body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #reservation-drop .dropdown {
            float: left;
            position: relative; }
          body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #reservation-drop .dropdown-menu {
            width: 100%;
            top: calc(100% - 15px); }
          body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #reservation-drop > div {
            font-size: 24px; }
          body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #reservation-drop .right-search-icon {
            font-size: 24px; }
          body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #trip-type-wrap ul {
            margin: 0px;
            padding: 0px;
            display: -webkit-flex;
            display: flex; }
            body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #trip-type-wrap ul li {
              list-style-type: none;
              padding: 0px 12px;
              -webkit-flex: 1;
              -ms-flex: 1;
              flex: 1;
              font-size: 18px;
              text-align: center;
              line-height: 50px; }
              body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #trip-type-wrap ul li:hover {
                color: #a0a3a8;
                cursor: pointer; }
              body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #trip-type-wrap ul li.active {
                color: #e22147 !important; }
          body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #trip-type-wrap.data-header li {
            position: relative;
            padding-right: 10px;
            font-size: 12px;
            line-height: 40px;
            font-weight: 500;
            text-align: left; }
            body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #trip-type-wrap.data-header li:before {
              content: '\f106';
              font-family: FontAwesome;
              position: absolute;
              right: 1px;
              top: -4px; }
            body #wrapper #page-content-wrapper #two-column-container #leftsplit-section #trip-type-wrap.data-header li:after {
              content: '\f107';
              font-family: FontAwesome;
              position: absolute;
              right: 1px;
              top: 2px; }
          body #wrapper #page-content-wrapper #two-column-container #leftsplit-section .cards-container .each-card {
            padding: 16px 0px 16px 40px !important;
            position: relative;
            -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
            box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
            line-height: normal;
            height: 60px;
            color: #a0a3a8; }
            body #wrapper #page-content-wrapper #two-column-container #leftsplit-section .cards-container .each-card .circle-div {
              position: absolute;
              left: 10px;
              top: 15px;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              border: 1px solid #a0a3a8;
              color: #a0a3a8;
              font-size: 16px;
              line-height: 30px;
              text-align: center;
              overflow: hidden; }
            body #wrapper #page-content-wrapper #two-column-container #leftsplit-section .cards-container .each-card.active .circle-div {
              border: 1px solid #e22147;
              color: #fff;
              background-color: #e22147; }
            body #wrapper #page-content-wrapper #two-column-container #leftsplit-section .cards-container .each-card.active .station-name, body #wrapper #page-content-wrapper #two-column-container #leftsplit-section .cards-container .each-card.active .departing-time {
              color: #e22147; }
            body #wrapper #page-content-wrapper #two-column-container #leftsplit-section .cards-container .each-card .station-name {
              font-size: 14px; }
        body #wrapper #page-content-wrapper #two-column-container #rightsplit-section {
          right: 0;
          width: 59%;
          background-color: rgba(0, 0, 0, 0.9); }
          body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card {
            background-color: #fff;
            width: 350px;
            margin-top: 40px;
            margin-left: calc(50% - 175px);
            line-height: normal;
            padding: 10px 10px 15px 10px; }
            body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .caption1 {
              padding-bottom: 4px;
              padding-top: 6px; }
            body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .font-24 {
              font-size: 24px; }
            body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .pt-24 {
              padding-top: 24px; }
            body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .origin, body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .destination {
              font-size: 32px;
              font-weight: 400;
              text-transform: uppercase;
              width: 57px; }
            body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .ori-desi {
              padding: 6px 15px;
              border-top: 1px solid #e22147;
              border-bottom: 1px solid #e22147;
              margin-top: 10px; }
              body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .ori-desi div {
                float: left;
                color: #e22147; }
                body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .ori-desi div.center {
                  width: calc(100% - 114px);
                  line-height: 38px;
                  position: relative;
                  padding: 0px 10px; }
                  body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .ori-desi div.center:before {
                    content: '';
                    height: 2px;
                    width: calc(100% - 32px);
                    background-color: silver;
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 19px; }
                  body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card .ori-desi div.center:after {
                    content: '';
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    background-color: #e22147;
                    position: absolute;
                    top: calc(50% - 3px);
                    right: 10px; }
          body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card-actions {
            position: absolute;
            right: 8px;
            bottom: 20px; }
            body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card-actions ul {
              margin: 0px;
              padding: 0px; }
              body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card-actions ul li {
                position: relative;
                list-style-type: none;
                width: 185px; }
                body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card-actions ul li .circle-btn {
                  width: 60px;
                  display: inline-block;
                  cursor: pointer; }
                body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card-actions ul li .name {
                  width: 120px;
                  display: inline-block;
                  text-align: right;
                  color: #fff;
                  font-size: 12px; }
                body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card-actions ul li .circle {
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  background-color: #9ba1a5;
                  color: #fff;
                  text-align: center;
                  line-height: 40px;
                  font-size: 16px;
                  margin: auto;
                  margin-bottom: 10px; }
                  body #wrapper #page-content-wrapper #two-column-container #rightsplit-section .trip-card-actions ul li .circle.download {
                    height: 56px;
                    width: 56px;
                    line-height: 56px;
                    background-color: #e22147; }
        body #wrapper #page-content-wrapper #two-column-container #splitter {
          left: 39%;
          width: 2%;
          background-color: gray;
          cursor: move; }
    body #wrapper.toggled {
      padding-left: 220px; }
      body #wrapper.toggled #sidebar-wrapper {
        width: 220px; }
  @media screen and (max-width: 992px) {
    body #page-content-wrapper #two-column-container > div.row {
      margin-left: 0px !important;
      margin-right: 0px !important; }
    body #page-content-wrapper #two-column-container #leftsplit-section, body #page-content-wrapper #two-column-container #rightsplit-section, body #page-content-wrapper #two-column-container #splitter {
      position: unset !important;
      overflow: unset !important;
      width: 100% !important;
      height: unset !important;
      position: relative !important; }
    body #page-content-wrapper #two-column-container #splitter {
      display: none; } }
